* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.hero-nav {
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}
.nav-as {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.hero-a3 {
  padding: 9px 16px;
  border-radius: 12px;
  background-color: #4346ef;
}
.a1 {
  color: #ffffff;
}

.hero-a3:hover {
  background-color: #686afc;
}
.main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 128px;
  gap: 48px;
}

.hero-main {
  background-image: linear-gradient(#f1f1fe, #f7f1fd);
}
.main-div-text h1 {
  font-size: 60px;

  line-height: 60px;
  font-weight: 700;
  letter-spacing: -1.5px;
  position: relative;
}
.rembo {
  color: #8524e5;
}
.rem {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #6b7280;
}
.rem1 {
  width: 584px;
  height: 328.5px;
}
.buton1 {
  gap: 16px;
  padding: 12px 32px;
  background-image: linear-gradient(#8524e5, #4346ef);
  transition: transform 0.3s ease;
}
.buton1:hover {
  transform: translateY(-2px);
  box-shadow: -1px 5px 13px -4px rgba(34, 60, 80, 0.71);
}
.buton2:hover {
  transform: translateY(-2px);
  box-shadow: -1px 5px 13px -4px rgba(31, 49, 63, 0.71);
}
button {
  color: white;
  border: none;
  border-radius: 12px;
}
.icon-bar {
  display: none;
}
.buton2 {
  background-color: #ffffff;
  padding: 12px 34px;
  color: black;
}

.fa-angle-right {
  padding-left: 8px;
}
@media (max-width: 1010px) {
  .rem1 {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-as {
    display: none;
  }
}

@media (max-width: 450px) {
  .main-div {
    width: 100%;
    height: auto;
  }
  .hero-nav {
    padding: 10px;
  }
  .nav-as {
    display: none;
  }
  .icon-bar {
    display: block;
    padding: 10px;
  }
}
.main-fast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-textt {
  text-align: center;
  h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.9px;
    margin-top: 129px;
  }
  p {
    color: #6b7280;
    padding-top: 16px;
    padding-bottom: 64px;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
  }
}
.main-1:hover {
  transition: 0.3s;
  transform: translateY(-4px);
  box-shadow: -1px 5px 13px -4px rgba(34, 60, 80, 0.71);
}
.main-1 {
  width: 384px;
  border: 1px solid rgb(234, 232, 232);
  padding: 33px;
  border-radius: 16px;
}
.main-f {
  margin-bottom: 16px;
}

.cery {
  margin-bottom: 8.5px;
}
.cery {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
.cery2 {
  color: #6b7280;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.img-vertu {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  width: 382px;
  border: 1px solid gray;
  margin-bottom: 129px;
  transition:
    transform 0.3s linear,
    box-shadow 0.3s linear;
  h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    padding-bottom: 8px;
  }
}
.img-vertu img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.img-vertu:hover {
  transform: translateY(-7px);
  box-shadow: -1px 18px 12px 0px rgba(34, 60, 80, 0.2);
}
.img-vertu:hover img {
  transform: scale(1.04);
}
.samp {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #6b7280;
  padding-bottom: 16px;
}

.vertu10 {
  color: #4346ef;
}
.img-vertu2 {
  padding: 24px;
}

.img-vertu3 {
  color: #6b7280;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 12px;
  i {
    padding-right: 5px;
  }
}
.fa-arrow-right {
  color: #4346ef;
  width: 16px;
  height: 16px;
}
.texno {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  border-radius: 9999px;
  padding: 2px 10px;
  position: absolute;
  top: 19px;
  left: 16px;
  color: white;
  background-color: #4346ef;
}
